<!DOCTYPE html>
<html lang="en">
<head>
  <title> Welcome Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <style>
    body {
        /*border: 0px solid black;*/
        background-image:url("https://sites.google.com/a/laverne.edu/teachstudentsnotcontent/_/rsrc/1369977022012/social-studies-portfolio/climate_social_studies_wordle.png");
        background-repeat: no-repeat;
         background-size: 1800px 900px;
        background-attachment: scroll;
        padding:40px;
        /*background-image: url("Portfolio.jpg");
        background-color: #cccccc;*/
    }
  </style>

</head>
<body>

<div class="container">
   <h2>choose one</h2>
  <!-- <p>choose one:</p> -->
    <div class="btn-group btn-group-justified">
        <a href="/student" method="get" class="btn btn-primary" action  ="/student">Student</a>
        <a href="/client" method="get" class="btn btn-primary" action ="/client">Client</a>
        <a href="/visitor" method="get" class="btn btn-primary" action ="/visitor">Visitor</a>
    </div>
</div>

</body>
</html>
